<script>
    var requireJS = [];
    loadJS(requireJS, "assets/pages/codelist.js");
</script>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-success btn-sm addCdlBtn float-right">Add Codelist</button>
                    <strong>Codelist</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm" id="codelistTbl" style="width:100%">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Codelist</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>