<form id="updateForm" name="updateForm" class="form-horizontal" action="api/player/update">
    <div class="modal-header">
        <h4 class="modal-title">Update Player</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
    </div>
    <div class="modal-body">
        <input type="hidden" id="plrId" name="plrId" class="form-control">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="plrName">Player Name</label>
            <div class="col-md-9">
                <input type="text" id="plrName" name="plrName" class="form-control form-control-sm requiredItem" placeholder="Player Name...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="plrShortName">Player Short Name</label>
            <div class="col-md-9">
                <input type="text" id="plrShortName" name="plrShortName" class="form-control form-control-sm requiredItem" placeholder="Player Short Name...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="plrDisplayName">Player Display Name</label>
            <div class="col-md-9">
                <input type="text" id="plrDisplayName" name="plrDisplayName" class="form-control form-control-sm requiredItem" placeholder="Player Display Name...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="plrDOB">DOB</label>
            <div class="col-md-9">
                <input type="text" id="plrDOB" name="plrDOB" class="form-control form-control-sm requiredItem validDateISO" placeholder="DOB...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="plrBatStyle">Batting Style</label>
            <div class="col-md-9">
                <select id="plrBatStyle" name="plrBatStyle" class="form-control form-control-sm requiredItem" placeholder="Batting Style...">
                    <option value="">Batting Style...</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="plrBowlStyle">Bowling Style</label>
            <div class="col-md-9">
                <select id="plrBowlStyle" name="plrBowlStyle" class="form-control form-control-sm requiredItem" placeholder="Bowling Style...">
                    <option value="">Bowling Style...</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="plrMajorRole">Major Role</label>
            <div class="col-md-9">
                <select id="plrMajorRole" name="plrMajorRole" class="form-control form-control-sm requiredItem" placeholder="Major Role...">
                    <option value="">Major Role...</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="plrStatus">Status</label>
            <div class="col-md-9">
                <select id="plrStatus" name="plrStatus" class="form-control form-control-sm requiredItem" placeholder="Status...">
                    <option value="">Status...</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="btnSubmitUpdate" name="btnSubmitUpdate" class="btn btn-primary">Save</button>
        <button type="button" id="btnCloseUpdate" name="btnCloseUpdate" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>
<script>
    $(document).ready(function() {
        $("#updateForm").validate({
            rules: { },
            onfocusout: injectTrim($.validator.defaults.onfocusout),
            submitHandler: function(form) {
                $("#btnSubmitUpdate").html('Saving <i class="fa fa-refresh fa-spin"></i>');
                $("#btnSubmitUpdate").attr("disabled",true);
                $.ajax({
                    url: form.action+"/"+$("#plrId").val(),
                    type: "put",
                    data: $(form).serialize(),
                    datatype: 'json',
                    success: function(response) {
                        playerRefresh();
                        $(this).removeData();
                        $('#remoteModal').modal('hide');
                    }
                });
            }
        });
    });
</script>