<form id="addForm" name="addForm" class="form-horizontal" action="api/team/add">
    <div class="modal-header">
        <h4 class="modal-title">Add Team</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="temName">Team Name</label>
            <div class="col-md-9">
                <input type="text" id="temName" name="temName" class="form-control form-control-sm requiredItem" placeholder="Team Name...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="temShortName">Team Short Name</label>
            <div class="col-md-9">
                <input type="text" id="temShortName" name="temShortName" class="form-control form-control-sm requiredItem" placeholder="Team Short Name...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="temDisplayName">Team Display Name</label>
            <div class="col-md-9">
                <input type="text" id="temDisplayName" name="temDisplayName" class="form-control form-control-sm requiredItem" placeholder="Team Display Name...">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="temStatus">Status</label>
            <div class="col-md-9">
                <select id="temStatus" name="temStatus" class="form-control form-control-sm requiredItem" placeholder="Status...">
                    <option value="">Status...</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="btnSubmitAdd" name="btnSubmitAdd" class="btn btn-primary">Save</button>
        <button type="button" id="btnCloseAdd" name="btnCloseAdd" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</form>
<script>
    $(document).ready(function() {
        $("#addForm").validate({
            rules: { },
            onfocusout: injectTrim($.validator.defaults.onfocusout),
            submitHandler: function(form) {
                $("#btnSubmitAdd").html('Saving <i class="fa fa-refresh fa-spin"></i>');
                $("#btnSubmitAdd").attr("disabled",true);
                $.ajax({
                    url: form.action,
                    type: "post",
                    data: $(form).serialize(),
                    datatype: 'json',
                    success: function(response) {
                        teamRefresh();
                        $(this).removeData();
                        $('#remoteModal').modal('hide');
                    }
                });
            }
        });
    });
</script>